.brandSectionWrapper {
  & :global(.swiper-pagination-bullets-dynamic) {
    bottom: 1rem !important;
    padding: 0 1rem;
    font-size: unset;

    & :global(.swiper-pagination-bullet) {
      display: inline-block;
      background: var(--secondary);
      width: 7rem;
      color: var(--secondary-foreground);
      height: auto;
      border-radius: var(--radius-xs);
      overflow: hidden;
      opacity: 0.6;
      transition: all 0.3s ease;

      & :global(.bullet-name) {
        font-weight: 600;
      }
    }

    & :global(.swiper-pagination-bullet-active) {
      background: var(--primary);
      color: var(--primary-foreground);
      opacity: 1;
    }
  }
}
