@reference "tailwindcss";

.buttonWrapper {
  position: relative;
  z-index: 0;

  > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background-color: color-mix(in oklab, var(--primary-foreground) 60%, transparent);
    transition: all 0.4s ease;
    border-radius: inherit;
    z-index: -1;
  }

  &:hover {
    &::before {
      left: 0;
      width: 100%;
    }

    &[data-variant='outline'] {
      color: #fff !important;
      &::before {
        background-color: color-mix(in oklab, var(--primary) 80%, transparent);
      }
    }
  }
}
