.nextLinkWrapper {
  &[data-show-under-score='true'] {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 0;
      left: 0;
      height: 0.125rem;
      bottom: 0;
      transition: 0.2s all ease;
      background-color: var(--primary);
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
